.toolbar {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem;

  .logo {
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 0.05em;
  }

  .spacer {
    flex: 1 1 auto;
  }
}
