.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
}

.gallery-card {
  display: flex;
  flex-direction: column;
  height: 100%;

  img {
    aspect-ratio: 4 / 3;
    object-fit: cover;
    width: 100%;
  }

  mat-card-content {
    flex-grow: 1;
  }
}
