<mat-card class="signin-card">
  <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
    <wired-input
      formControlName="email"
      label="Email"
      [validationMessages]="allValidationMessages['email']"
      type="email"
    />
    <wired-input
      formControlName="password"
      label="Password"
      [validationMessages]="allValidationMessages['password']"
      type="password"
    />
    <button mat-raised-button color="primary" type="submit">Sign Up</button>
  </form>
</mat-card>
