.layout-container {
  height: 100vh;
  display: flex;
}

/* Themed Sidenav */
.sidenav {
  background-color: var(--mdc-theme-primary);
  color: var(--mdc-theme-on-primary);
  width: 240px;
  padding: 1rem 0;

  .sidebar-button {
    width: 100%;
    justify-content: flex-start;
    text-align: left;
    padding-left: 1.5rem;
    font-weight: 500;
    color: var(--mdc-theme-on-primary);

    &:hover {
      background-color: rgba(
        255,
        255,
        255,
        0.08
      ); /* Slight hover effect on primary */
    }

    &.mat-button {
      line-height: 48px;
    }

    .sidebar-icon {
      margin-right: 16px;
      color: var(--mdc-theme-on-primary);
    }

    .link-label {
      font-size: 14px;
    }
  }
}

/* Main content background */
.main-content {
  background-color: var(--mdc-theme-background, #fafafa);
  color: var(--mdc-theme-on-background, #000);
  padding: 1rem;
  height: 100%;
  overflow: auto;
}
