<mat-card class="signup-card">
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <wired-input
      formControlName="firstName"
      [validationMessages]="allSignUpValidationMessages['firstName']"
      label="First Name"
    />
    <wired-input
      formControlName="lastName"
      [validationMessages]="allSignUpValidationMessages['lastName']"
      label="Last Name"
    />
    <wired-input
      formControlName="email"
      [validationMessages]="allSignUpValidationMessages['email']"
      label="Email"
      type="email"
    />
    <wired-input
      formControlName="password"
      [validationMessages]="allSignUpValidationMessages['password']"
      label="Passowrd"
      type="password"
    />
    <wired-input
      formControlName="confirmPassword"
      [validationMessages]="allSignUpValidationMessages['confirmPassword']"
      label="Confirm Password"
      type="password"
    />
    <button mat-raised-button color="primary" type="submit">Sign Up</button>
  </form>
</mat-card>
